# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
*.mvn

.gitignore
src/main/resources/jdbc.properties
src/main/resources/spring.xml
src/main/resources/application.properties
