<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="../static/css/styles.css"
          th:href="@{/css/styles.css}" rel="stylesheet"/>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The Notorious TIP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form th:action="@{/logout}" method="post" class="navbar-form navbar-right">
                <input type="submit" class="btn btn-danger" value="Sign Out"/>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="landingJumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pull-center">
                <h1>Just the TIP</h1>
                <p>The future of vibrators is here.</p>
                <a href="/main" class="btn btn-primary">Control your vibrator now</a>
            </div>
        </div>
    </div>
</div>

<!-- START THE FEATURETTES -->

<hr class="featurette-divider"/>

<div class="container marketing">
    <div class="row">
        <div class="col-md-4 pull-center">
            <img src="https://i.imgsafe.org/506f33d980.png"/>
            <h2>Connect over the internet</h2>
            <p>Operate your vibrator via an user friendly interface over the internet.</p>
        </div>
        <div class="col-md-4 pull-center">
            <img src="https://i.imgsafe.org/506f68ef2a.png"/>
            <h2>Unisex</h2>
            <p>It doesn't matter whether you are a man or a female. Our unique design makes it possible to combine a
                base unit with a customized tip. </p>
        </div>
        <div class="col-md-4 pull-center">
            <img src="https://i.imgsafe.org/506f45caf1.png"/>
            <h2>Secure</h2>
            <p>We value the privacy of our users alot. That's why we developed this system in a way which guarantees
                privacy for the end users.</p>
        </div>
    </div>
    <hr/>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Register your product online<!--<span
                    class="text-muted">It'll blow your mind.</span>-->
            </h2>
            <p class="lead">Each product gets shipped with a productcode and a PIN code. The productcode can be used to
                make an account on the website.
                Your PIN code is needed for resetting your password.
                You also find a PIN here. You will need this PIN to reset your password.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src=""/>
        </div>
    </div>

    <hr class="featurette-divider"/>

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Interchangable parts
                <!--<span class="text-muted">See for yourself.</span>-->
            </h2>
            <p class="lead">Want to switch between different vibrating units? No biggie. Disconnect the case from
                the vibrating unit with by disconnecting the wires. This way you have an endless variety of different pleasuring vibrating units.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src=""/>
        </div>
    </div>

    <hr class="featurette-divider"/>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Easily chargable batteries</h2>
            <!--<span class="text-muted">Checkmate.</span></h2>-->
            <p class="lead">Is your vibrator empty? No problem fam. Use the USB-b mini port on the bottom to charge.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="https://s16.postimg.org/enzej7xzp/Usbmini.jpg"/>
        </div>
    </div>
    <hr class="featurette-divider"/>
    <footer>
        Copyright 2016 The Notorious TIP
    </footer>
</div>
<!--
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-12 pull-center">
            <h1>How does it work?</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                Connect to the access point created by the vibrator
            </div>
        </div>
    </div>
</div>-->
</body>
</html>