<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="../static/css/styles.css"
          th:href="@{/css/styles.css}" rel="stylesheet"/>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form th:action="@{/logout}" method="post" class="navbar-form navbar-right">
                <input type="submit" class="btn btn-danger" value="Sign Out"/>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="landingJumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pull-center">
                <h1>Just the TIP</h1>
                <p>The future of vibrators is here.</p>
                <a href="/main" class="btn btn-primary">Control your vibrator now</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4 pull-center">
            <img src="https://i.imgsafe.org/506f33d980.png"/>
            <h2>Connect over the internet</h2>
            <p>Operate your vibrator via an user friendly interface over the internet.</p>
        </div>
        <div class="col-md-4 pull-center">
            <img src="https://i.imgsafe.org/506f68ef2a.png"/>
            <h2>Unisex</h2>
            <p>It doesn't matter whether you are a man or a female. Our unique design makes it possible to combine a
                base unit with a customized tip. </p>
        </div>
        <div class="col-md-4 pull-center">
            <img src="https://i.imgsafe.org/506f45caf1.png"/>
            <h2>Secure</h2>
            <p>We value the privacy of our users alot. That's why we developed this system in a way which guarantees
                privacy for the end users.</p>
        </div>
    </div>
    <hr/>
    <footer>
        <p>© 2016 The notorious TIP</p>
    </footer>
</div>
<!--
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-12 pull-center">
            <h1>How does it work?</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                Connect to the access point created by the vibrator
            </div>
        </div>
    </div>
</div>-->
</body>
</html>