<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="../static/css/styles.css"
          th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Reset password</h1>
                    <form action="#" th:action="@{/resetpassword}" th:object="${resetpassword}" method="post"
                          id="login-form" autocomplete="off">
                        <div class="form-group">
                            <input type="text" th:field="*{productCode}" id="productCode" class="form-control"
                                   placeholder="Productcode" maxlength="16"/>
                            <th:block th:switch="${#fields.hasErrors('productCode')}">
                                <p th:case="false" class="registrationDescription">Productcode can be found on the box of the product</p>
                                <p th:case="true" class="errorText" th:errors="*{productCode}"></p>
                            </th:block>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{pin}" id="pin" class="form-control" placeholder="Pin"
                                   maxlength="6"/>
                            <th:block th:if="${#fields.hasGlobalErrors()}">
                                <p class = "errorText" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                            </th:block>
                        </div>
                        <div class="form-group">
                            <input type="password" th:field="*{newPassword}" id="password" class="form-control"
                                   placeholder="New password"/>
                            <th:block th:switch="${#fields.hasErrors('newPassword')}">
                                <p th:case="false" class="registrationDescription">Must contain 8 to 20 characters, 1
                                    uppercase character, 1 number, 1 special character</p>
                                <p th:case="true" class="errorText" th:errors="*{newPassword}"></p>
                            </th:block>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Send"/>
                    </form>
                    <hr/>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
</body>
</html>